.btn {
  background: var(--text-color);
  color: #fffdfc;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 1.125rem;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  transition: all ease-out 0.15s;

  &:hover {
    opacity: 0.8;
  }

  &_light {
    background: #fffdfc;
    color: var(--text-color);
  }
}
