@import '@/assets/styles/scss/_colors';
@import '@/assets/styles/scss/button';
@import '@/assets/styles/scss/mixins';

.title {
  color: $cTextBrown;

  &-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    &__title {
      font-family: Cormorant;
      font-size: 2.25rem;
      font-weight: 500;
      line-height: 3rem;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 0;

      @include mobile {
        font-size: 28px;
        font-weight: 500;
        line-height: 36px;
      }
    }

    svg {
      position: relative;
      bottom: -0.2rem;
      margin-right: 1.5rem;
      width: 5.375rem;

      @include mobile {
        width: 48px;
        margin-right: 8px;
      }
    }
  }

  &-light {
    color: white;

    svg rect {
      fill: white;
    }
  }
}

.info-title {
  font-family: Cormorant;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 3rem;
  letter-spacing: 0em;
  text-align: left;
  color: black;

  @include mobile {
    font-size: 18px;
    line-height: 22px;
  }
}

.info-block {
  font-family: Avenir Next Cyr;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 0em;
  text-align: left;
  color: black;

  @include mobile {
    font-size: 14px;
    line-height: 24px;
  }
}

.nav {
  display: flex;
  &__btn {
    padding: 0.6875rem 0.875rem;
    background: var(--secondary-color);
    transition: all ease-out 0.15s;

    &:hover {
      opacity: 0.8;
    }
  }
}

.param {
  &__title {
    font-weight: 300;
    font-size: 2.25rem;
    line-height: 3rem;
    display: block;

    @include tablet {
      font-size: 28px;
      line-height: 36px;
    }
  }

  &__value {
    font-size: 1.125rem;
    line-height: 1.75rem;
    @include tablet {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
    }
  }
}

.checkbox {
  position: relative;
  box-sizing: border-box;
  min-width: 1rem;
  min-height: 1rem;
  border: 0.1875rem solid rgba(0, 0, 0, 0.7);
  border-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  @include mobile {
    min-width: 16px;
    min-height: 16px;
    border-radius: 4px;
    border: 3px solid rgba(0, 0, 0, 0.7);
  }
  &:checked::after {
    position: absolute;
    top: -0.6875rem;
    left: 0;
    color: black;
    font-size: 1.125rem;
    content: '\2714';
    -moz-appearance: none;
    -webkit-appearance: none;
    // border: 2px solid var(--main-green)
    @include mobile {
      top: -11px;
      font-size: 18px;
    }
  }
  &:disabled {
    border: 0.125rem solid rgba(0, 0, 0, 0.25);
  }
}
