@import '../../assets/styles/scss/colors';

.booking{
  &-wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &-calendar{
    width: 25.75rem;
  }

  &-parameters, &-additional{
    width: 19.375rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &-label{
    width: 100%;
    margin-bottom: 1.5rem;
  }

  &__header{
    font-family: Avenir Next Cyr;
    font-size: 1.125rem;
    font-weight: 450;
    line-height: 1.375rem;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 1.75rem;
  }

  &__sub-header{
    font-family: Avenir Next Cyr;
    font-size: 1rem;
    font-weight: 450;
    line-height: 1.25rem;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 0.5rem;
  }

  &__input-field{
    width: 100%;
    height: 2.625rem;
    border: none;
    border-radius: 0.3125rem;
    display: flex;
    align-items: center;
    background-color: $cActionGrey;
    padding: 0.75rem 1rem;
    &:not(:last-child){
      margin-bottom: 0.75rem;
    }
  }

  &-fireplace{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
  }

  &__fireplace-lit{
    input{
      margin-right: 0.625rem;
    }
  }

  &__next-btn{
    margin-top: 3rem;
    width: 11.125rem;
  }

  &-info{
    display: flex;
    align-items: center;
    width: 100%;
    border-top: 0.0625rem solid $cBorderGrey;
    border-bottom: 0.0625rem solid $cBorderGrey;
    margin-bottom:3.75rem;
    margin-top: 1.5rem;
  }

  &__info-title{
    margin-bottom: 0.5rem;
    font-family: Avenir Next Cyr;
    font-size: 1.125rem;
    font-weight: 450;
    line-height: 1.375rem;
    letter-spacing: 0em;
    text-align: left;
  }

  &__info-value{
    font-family: Avenir Next Cyr;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.375rem;
    letter-spacing: 0em;
    text-align: left;
  }

  &__info-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 25%;
    padding: 1.375rem 3rem;
    border-right: 0.0625rem solid #C0C0C0;
    &:first-child{
      border-left: 0.0625rem solid #C0C0C0;;
    }
  }
}