@import '@/assets/styles/scss/_colors';
@import '@/assets/styles/scss/mixins';

.parameters {
  min-height: 41.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 3.75rem 4rem;
  position: relative;
  padding-right: 0;

  @include mobile {
    min-height: 596px;
  }

  &__title {
    @include mobile {
      display: none;
    }
  }

  &__background {
    background-color: $cPrimaryBrown;
    height: 27.875rem;
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 100%;
    z-index: -1;

    @include mobile {
      height: 464px;
    }
  }

  &-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 4rem;
  }

  &-info {
    display: flex;
    justify-content: space-between;
    margin-left: 15rem;
    width: 100%;

    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 0;
      width: 250px;
    }
  }

  &__mobile-wrapper {
    display: flex;
    justify-content: space-between;
    width: 61%;

    @include mobile {
      margin: 24px 0;
      width: 100%;
      flex-direction: row-reverse;
    }
  }

  &__property {
    h3 {
      font-family: Hind;
      font-size: 3rem;
      font-weight: 500;
      line-height: 4.8125rem;
      letter-spacing: 0em;
      text-align: left;
      color: $cBeige;

      @include mobile {
        font-family: Avenir Next Cyr;
        font-size: 28px;
        font-weight: 300;
        line-height: 36px;
        color: white;
      }
    }

    > span {
      font-family: Avenir Next Cyr;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 2rem;
      letter-spacing: 0em;
      text-align: left;
      color: white;

      @include mobile {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }

  &__slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__slider {
    height: 100%;
    min-height: 39.375rem;
    position: relative;

    @include mobile {
      min-height: 596px;
    }
  }

  &__slide {
    // width: 29.0625rem;
    width: auto;
    height: 27.5rem;

    @include mobile {
      height: 375px;
    }
  }

  &__nav {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;

    button {
      background: #ffffff90;
    }
  }
}

.swiper-container {
  left: 0;
  top: 0;
  width: 100%;
  height: 27.5rem;
  margin-bottom: 3.75rem;

  @include mobile {
    height: 375px;
    margin-bottom: 24px;
  }
}
