.card {
  flex: 1;

  img {
    height: 22.5rem;
    width: 100%;
    object-fit: cover;
  }

  h3 {
    font-family: 'Cormorant';
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 2.25rem;
    margin-top: 1.875rem;
  }

  p {
    margin-top: 1.125rem;
    max-width: 80%;
  }

  &_square {
    min-width: 30.8125rem;
    flex: 0;

    img {
      height: 30.8125rem;
    }
  }
}
