@import '@/assets/styles/scss/colors';
@import '@/assets/styles/scss/mixins';

.booking{
  &-calendar{
    width: 25.75rem;
    height: 23.125rem;

    @include mobile{
      width: 100%;
      height: 342px;
    }

    &__month-slider{
      display: flex;
      justify-content: space-between;
      padding: 0 1.5rem;
      margin-bottom: 1.75rem;

      @include mobile{
        margin-bottom: 24px;
      }
    }

    &__month{
      font-family: Avenir Next Cyr;
      font-size: 1.125rem;
      font-weight: 600;
      line-height: 1.375rem;
      letter-spacing: 0em;
      text-align: left;

      @include mobile{
        font-size: 15px;
        font-weight: 450;
        line-height: 18px;
      }
    }

    &__controls{
      width: 3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      @include mobile{
        width: 40px;
      }

      img{
        width: 1.125rem;
        height: auto;
        cursor: pointer;

        @include mobile{
          width: 15px;
        }
      }
    }
    
    &__wrapper{
      display: grid;
      grid-template-columns: repeat(7, 1fr);
    }

    &__week{
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 2rem;
      @include mobile{
        margin-bottom: 26px;
      }
    }

    &__week-day{
      display: flex;
      justify-content: center;
      width: 100%;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.25rem;
      letter-spacing: 0em;
      text-align: left;

      @include mobile{
        font-size: 13px;
        font-weight: 700;
        line-height: 16px;
      }
    }

    &__day{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 2.875rem;
      padding-top: 0.1875rem;
      cursor: pointer;
      &:not(:last-child){
        margin-bottom: 0.5625rem;
      }

      @include mobile{
        height: 38px;
        padding-top: 4px;
        
        &:not(:last-child){
          margin-bottom: 8px;
        }
      }
    }

    &__day-number{
      font-family: Avenir Next Cyr;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.25rem;
      letter-spacing: 0em;
      margin-bottom: 0.25rem;

      @include mobile{
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
      }
    }

    &__day-price{
      font-family: Avenir Next Cyr;
      font-size: 0.625rem;
      font-weight: 400;
      line-height: 0.875rem;
      letter-spacing: 0em;

      @include mobile{
        font-size: 8px;
        font-weight: 400;
        line-height: 12px;
      }
    }
  }
}

.disabled{
  background-color: #EBD5C5;
}

.right-corner{
  @include mobile{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  border-top-right-radius: 0.3125rem;
  border-bottom-right-radius: 0.3125rem;
}

.left-corner{
  @include mobile{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  border-top-left-radius: 0.3125rem;
  border-bottom-left-radius: 0.3125rem;
}

div.past{ 
  background-color: rgba(0, 0, 0, 0.14);
  cursor: default;
}

.last-disabled{
  @include mobile{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  position: relative;
  background-color: transparent;
  overflow: hidden;

  &::after{
    width: 100%;
    // height: 100%;
    max-height: 2.875rem;
    /* background-color: red; */
    z-index: -10;
    content: '';
    background: url(../../../assets/icons/calendar_right-shape--red.svg);
    background-size: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    opacity: 1;
    position: absolute;
    display: inline-block;
    top: 0;
    bottom: 0;
    left:-1px;
    right: 0;
    @include mobile{
      max-height: 100%;
    }
  }

}

div.last-past{
  @include mobile{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  border-top-right-radius: 0.3125rem;
  border-bottom-right-radius: 0.3125rem;
}

.first-disabled{
  @include mobile{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  // border-top-left-radius: 0.3125rem;
  // border-bottom-left-radius: 0.3125rem;
  position: relative;
  background-color: transparent;
  overflow: hidden;

  &::before{
    width: 100%;
    // height: 100%;
    max-height: 2.875rem;
    /* background-color: red; */
    z-index: -10;
    content: '';
    background: url(../../../assets/icons/calendar_left-shape--red.svg);
    background-size: 101%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    opacity: 1;
    position: absolute;
    display: inline-block;
    top: 0;
    bottom: 0;
    left: 0;
    right: -1px;
    @include mobile{
      max-height: 100%;
    }
  }
}

div.first-past{
  @include mobile{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  border-top-left-radius: 0.3125rem;
  border-bottom-left-radius: 0.3125rem;
}

.included{
  background-color: #C5EBDF;
}

.last-included{
  @include mobile{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  // border-top-right-radius: 0.3125rem;
  // border-bottom-right-radius: 0.3125rem;
  position: relative;
  background-color: transparent;
  overflow: hidden;

  &::after{
    width: 100%;
    // height: 100%;
    max-height: 2.875rem;
    /* background-color: red; */
    z-index: -10;
    content: '';
    background: url(../../../assets/icons/calendar_right-shape.svg);
    background-size: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    opacity: 1;
    position: absolute;
    display: inline-block;
    top: 0;
    bottom: 0;
    left: -1px;
    right: 0;
    @include mobile{
      max-height: 100%;
    }
  }
}

.first-included{
  @include mobile{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  position: relative;
  background-color: transparent;
  overflow: hidden;

  &::before{
    width: 100%;
    // height: 100%;
    max-height: 2.875rem;
    /* background-color: red; */
    z-index: -10;
    content: '';
    background: url(../../../assets/icons/calendar_left-shape.svg);
    background-size: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    opacity: 1;
    position: absolute;
    display: inline-block;
    top: 0;
    bottom: 0;
    left: 0;
    right: -1px;
    @include mobile{
      max-height: 100%;
    }
  }
}

.arrow-disabled{ 
  visibility: hidden;
}